@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn, .secondary-btn{
  filter: drop-shadow(4px 4px 0px #355e35);
}

.primary-btn:hover, .secondary-btn:hover{
  filter: drop-shadow(10px 10px 0px #355e35);
}

.caution-btn{
  filter: drop-shadow(4px 4px 0px #dc2626);
}

.caution-btn:hover{
  filter: drop-shadow(10px 10px 0px #dc2626);
}


